body{
    background-image: 
    linear-gradient(
        to top right, #8b8b8b,#ec4899
    );
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
    margin-top: 2.5rem;
}
.item{
    position:absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}
#next,#prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 50px;
}
#next{
    left: unset;
    right: 50px;
}
.sh1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
}
p{
    color:rgb(0, 0, 0);
}

