
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background: #070a0f;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
      min-height: 100vh;
    }

    h1 {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 30px;
      text-align: center;
    }

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}



    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    }

    .card h2 {
      font-size: 1.4rem;
      color: #333;
      margin-bottom: 10px;
      text-align: center;
    }

    .card p {
      font-size: 0.95rem;
      color: #444;
      text-align: justify;
      flex: 1; /* takes up remaining space */
      /* overflow: hidden; */
      line-height: 1.5;
    }

    @media (max-width: 600px) {
      .card-container {
        grid-template-columns: 1fr;
      }
    }
    .card h3{
      margin-top: 40px;
      font-size: 1rem;
      color: #292929;
      text-align: center;
    }


    /* glowing icons */

    .card {
  position: relative;
  z-index: 0;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 260px;
  height: 360px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  z-index: -2;
  border-radius: 16px;
}

.card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  background-size: 600%;
  z-index: -1;
  filter: blur(12px);
  border-radius: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glowing 20s linear infinite;
}

.card:hover::before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
