


/* Button */
.button{
    margin-top: 50px;
   padding: 15px 40px;
   border: none;
   outline: none;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 12px;
}

.button::after{
   content: "";
   z-index: -10;
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #c9c9c9;
   left: 0;
   top:0;
   border-radius: 10px;

}

.button::before{
   content: "";
   background: linear-gradient(
    45deg,
    #FF0000,#FF7300,#FFFB00,#48FF00,#00FFD5,
    #002BFF,#FF00C8,#FF0000
   ) ;
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 600%;
   z-index: -1;
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   filter: blur(8px);
   animation: glowing 20s linear infinite ;
   

   /* Animation */
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
   opacity: 0;
}

@keyframes glowing {
    0%{background-positon: 0 0;}
    50%{background-position: 400% 0;}
    100%{background-position: 0 0;} 
}

/* Hover */

.button:hover::before{
   opacity: 1; 

}

.button:active::after{
    background:transparent;

}
.button:active{
    color: #000;
    font-weight: bold;
    
}
